.auth-div {
  display: grid;
}

.auth-banner {
  max-width: 100%;
  height: calc(100vh - 90px);
  background: black;
}

.auth-banner > img {
  /* object-fit: cover; */
  height: 100%;
  width: 100%;
  opacity: 0.3;
}

.auth-user {
  margin: auto;
  padding: 10rem;
  margin-bottom: 50px;
}

.auth-user > h2 {
  font-size: 38px;
}

.auth-user > p {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.6px;
  color: gray;
  margin-bottom: 20px;
}

.auth-btn {
  width: 100%;
  border-radius: 4px;
  border: none;
  padding: 10px;
  color: white;
  font-size: 16px;
  background: dodgerblue;
  margin-top: 20px;
}

.control-group {
  margin-top: 20px;
}

.controls > input {
  width: 100%;
  padding: 6px;
  border: 0.4px solid #80808036;
  border-radius: 4px;
  margin-left: 20p;
  padding-left: 12px;
}

.alert > ul > li {
  color: red;
}

.forgot-password, .new-register-span {
  float: right;
  margin-top: 10px;
  font-weight: 500;
  cursor: pointer;
  color: dodgerblue;
}

.new-register-span {
  color: black;
  float: left;
}

.register-div {
  padding: 1rem 10rem;
}

.login-div {
  padding: 15rem;
}

/* Media Query */
@media screen and (min-width: 800px) {
  .auth-div {
    grid-template-columns: 33.334% 66.667%;
  }
}

@media screen and (max-width: 800px) {
  .auth-div {
    grid-template-columns: repeat(auto-fit, minmax(160, 1fr));
  }
  .auth-banner {
    height: unset;
  }
  .auth-user {
    padding: 3rem;
  }
}
