body {
  background: #f6f9fb;
}

.navbar {
  border-radius: 0;
  background: white;
  border: none;
  margin-bottom: 0 !important;
}

.navbar-brand {
  color: #2b2b2b !important;
  letter-spacing: 0.6px !important;
  font-weight: 500;
}

.navbar-toggle {
  background: #333;
}

.navbar-nav > li > a:hover {
  color: #2b2b2b !important;
  transform: scale(1.1) !important;
  transform: transform 2s ease-out;
}

.place-order-btn {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  background: dodgerblue;
  margin: 6px;
  border-radius: 20px;
}

.place-order-btn > img {
  height: 100%;
  width: 20px;
}

.order-btn-txt {
  padding: 0 !important;
  margin-right: 12px;
  color: #fbfbfb !important;
  font-weight: 500;
}

.order-btn-txt:hover {
  color: #dadada !important;
}

.footer {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: white;
}
