.order-div {
  padding: 0.4rem ;
  margin: auto;
  margin-bottom: 4rem;
}

.order-form > input,
.order-form > p > input,
.order-form > p > select {
  width: 100%;
  padding: 6px;
  border: 0.4px solid #80808036;
  border-radius: 4px;
  margin-left: 20p;
  padding-left: 12px;
}

.order-form > p > span {
  font-size: 10px;
}

.modal-header {
  display: flex;
  align-items: center;
}

.modal-title,
.modal-close-btn {
  font-size: 24px;
}

.close {
  margin-left: auto;
  margin-right: 1rem;
}

.close > span {
  margin-left: auto;
  font-size: 28px;
  font-weight: 400;
}

.modal-body {
  font-size: 18px;
  font-weight: 400;
}

.btn-primary {
  background-color: dodgerblue;
  border: none;
}

@media screen and (max-width: 800px) {

  .order-div{
    padding: 3rem;
  }
}
