<!DOCTYPE html>
{% load static%}
<html lang="en">
  <head>
    <title>Yourlaundryguy</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,height=device-height,initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <style>
      /* Make the image fully responsive */
      .carousel-inner img {
        width: 100%;
        height: 100%;
      }
    </style>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/pricing.css' %}" />
    <link rel="stylesheet" href="{% static 'css/order.css' %}" />

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">
            <!-- <img
              src="{% static 'images/logo.svg' %}"
              width="30"
              height="30"
              class="d-inline-block align-top"
              alt=""
            /> -->
            YourLaundryGuy</a
          >
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li>
              <a class="nav-option-btn" href="{% url 'pricing' %}">Price</a>
            </li>
            <li class="dropdown">
              <a
                class="dropdown-toggle nav-option-btn"
                data-toggle="dropdown"
                href="#"
                >About Us<span class="caret"></span
              ></a>
              <ul class="dropdown-menu">
                <li><a href="#">How it works</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Why Us</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="place-order-btn">
              <a class="order-btn-txt" href="{% url 'placeorder' %}">Place Order</a>
              <img src="{% static 'images/carts.svg' %}" alt="cart-icon" />
            </li>
            {% if user.is_authenticated %}
            <div class="dropdown nav-avatar">
              <img
                src="{% static 'images/avatar.svg' %}"
                alt="avatar"
                class="dropdown-toggle"
                id="dropdownMenu1"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true"
              />
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Order History</a></li>
                <li><a href="{% url 'logout1' %}">Logout</a></li>
              </ul>
            </div>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </head>
  <body>
    {% block content %} {% endblock %}
  </body>
  <footer class="footer">
    <span>Made in ❤️ with India</span>
  </footer>
</html>
