{% extends 'base.html' %} {% load crispy_forms_tags %} {% block title %}
<title>Login - Taskmate</title>
{% endblock title %} {% block content %}

<div class="login">
  <div class="login-banner">
    <img
      src="https://images.unsplash.com/photo-1489274495757-95c7c837b101?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=958&q=80"
      alt="login-banner"
    />
  </div>
  <div class="login-user">
    <h2>Login for TaskMate</h2>
    <p>
      To keep connected with us please login with your registered email id and
      password
    </p>
    <form method="POST">
      {% csrf_token %} {{ form|crispy }}
      <button type="submit" class="login-btn">Login</button>
      <span class="forgot-password">Forgot Password?</span>
    </form>

    {% if messages %} {% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      {{ message }}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %} {% endif %}
  </div>
</div>

{% endblock content %}
