{% extends 'base.html' %} {% load static %} {% block content %}

<main class="banner">
  <div class="banner-content">
    <h1>Hey there 👋🏽 I'm Your Laundry Guy</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nemo
      asperiores inventore magnam nulla mollitia esse quidem adipisci possimus
      corporis! Repudiandae neque dignissimos, voluptates error tempore
      deleniti? Incidunt, molestias veritatis!
    </p>
    {% if user.is_authenticated == False %}
    <div class="banner-auth">
      <div class="banner-auth-btn register">
        <a href="{% url 'register' %}"
        >Register</a
      >
      </div>
      
      <div class="banner-auth-btn"><a href="{% url 'login' %}"
        ></span>Login</a
      ></div>
    </div>
    {% endif %}
  </div>
  <div class="banner-carousel">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="{% static "images/home/home1.png" %}" alt="home1"
          style="width:100%;">
          <div class="carousel-caption">
            <h3>Los Angeles</h3>
            <p>LA is always so much fun!</p>
          </div>
        </div>
  
        <div class="item">
          <img src="{% static "images/home/home2.png" %}" alt="home2"
          style="width:100%;">
          <div class="carousel-caption">
            <h3>Chicago</h3>
            <p>Thank you, Chicago!</p>
          </div>
        </div>
  
        <div class="item">
          <img src="{% static "images/home/home1.png" %}" alt="home3"
          style="width:100%;">
          <div class="carousel-caption">
            <h3>New York</h3>
            <p>We love the Big Apple!</p>
          </div>
        </div>
      </div>
  
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  </div>
</main>


<div class="service-div">
  <h3 align="center">Offered Services</h3>
  <section class="card-container">
    <article class="card">
      <figure class="card__thumbnail">
          <div></div>
      </figure>
      <header class="card__title">
          <h4>Service Name</h4>
      </header>
      <main class="card__description">
          Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun
      </main>
  </article>
  <article class="card">
      <figure class="card__thumbnail">
          <div></div>
      </figure>
      <header class="card__title">
          <h4>Service Name</h4>
      </header>
      <main class="card__description">
          Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun 
      </main>

  </article>
  <article class="card">
      <figure class="card__thumbnail">
          <div></div>
      </figure>
      <header class="card__title">
          <h4>Service Name</h4>
      </header>
      <main class="card__description">
          Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun 
      </main>

  </article>
  <article class="card">
      <figure class="card__thumbnail">
          <div></div>
      </figure>
      <header class="card__title">
          <h4>Service Name</h4>
      </header>
      <main class="card__description">
          Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun 
      </main>

  </article>
</section>
</div>


{% endblock %}
